.likes {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.likes__counter {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.75);
}
