.header {
    padding: 16px 22px;
    background: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.85);
}

.header__btns {
    display: flex;
    gap: 20px;
}

