.container {
    width: 941px;
    min-height: 500px;
    margin: 0 auto;
    margin-top: 24px;
   
}

.container_small {
    width: 384px;
    min-height: 300px;
    margin: 0 auto;
    margin-top: 59px;
}
